@font-face {
    font-family: 'Hand';
    src: url(./JustAnotherHand-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

.logo {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    height: 10rem;
    max-width: 300px;
    margin: auto;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 5%;
}

.social-media-btn {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

.fbBtn,
.igBtn {
    margin: 0.5rem;
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.962);
    padding: 1rem;
    border-radius: 50%;
}

.home {
    background: url(./img/309092368_625932192248030_1597929384017726165_n.jpg);
}

.menu {
    background: url(./img/old-wall-antique-white-beige-mediterranean-painted-plain-225539680.png);
    background-attachment: fixed;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.navBtn {
    margin-top: 20rem;
}

.navBtn>div {
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.69);
    font-family: 'Hand';
    font-size: 2rem;
    border-radius: 5%;
}

ul {
    padding: 0;
    margin: 0;
    margin-top: 10rem;
    height: 60%;
    overflow: scroll;
    list-style-type: none;
}

li {
    font-family: 'Hand';
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

li>img {
    height: 10rem;
    border-radius: 5%;
}

::-webkit-scrollbar {
    display: none;
}