@font-face {
    font-family: 'Hand';
    src: url(./JustAnotherHand-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

.homepage {
    height: 100%;
    width: 100%;
    background: url(./img/309092368_625932192248030_1597929384017726165_n.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50%;
    max-width: 300px;
    margin: 3rem;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 5%;
}
.navBtn {
    margin-bottom: 10rem;
}

.navBtn>div {
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.69);
    font-family: 'Hand';
    font-size: 2rem;
    border-radius: 5%;
}

.social-media-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; 
}

.fbBtn,
.igBtn {
    margin: 0.5rem;
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.962);
    padding: 1rem;
    border-radius: 50%;
}