@font-face {
    font-family: 'Hand';
    src: url(./JustAnotherHand-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

p {
    padding: 0;
    margin: 0;
}

.logo {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    height: 10rem;
    max-width: 300px;
    margin: auto;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 5%;
}

.social-media-btn {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

.fbBtn,
.igBtn {
    margin: 0.5rem;
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.962);
    padding: 1rem;
    border-radius: 50%;
}

.home {
    background: url(./img/309092368_625932192248030_1597929384017726165_n.jpg);
}

.menu {
    background: url(./img/old-wall-antique-white-beige-mediterranean-painted-plain-225539680.png);
    background-attachment: fixed;
}

.about {
    background: url(./img/old-wall-antique-white-beige-mediterranean-painted-plain-225539680.png);
    background-attachment: fixed;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.navBtn {
    margin-top: 20rem;
}

.navBtn>div {
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.69);
    font-family: 'Hand';
    font-size: 2rem;
    border-radius: 5%;
}

ul {
    padding: 0;
    margin: 0;
    margin-top: 10rem;
    height: 60%;
    overflow: scroll;
    list-style-type: none;
}

li {
    font-family: 'Hand';
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

li>img {
    height: 10rem;
    border-radius: 5%;
}

::-webkit-scrollbar {
    display: none;
}


.text-content {
    font-family: 'Hand';
    font-size: 2.3rem;
    font-weight: 100;
    text-align: center;
    margin-top: 5rem;
    height: 50%;
    width: 60%;
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.588);
    /* text-shadow: 0 0 1px hsl(20, 100%, 18%),
             -1px 1px 0 hsl(20, 100%, 16%), 
             -2px 2px 2px -1px hsl(20, 100%, 14%), 
             -4px 4px 2px -2px hsl(20, 100%, 12%),
             -6px 6px 3px -3px hsl(20, 100%, 10%),
             -8px 8px 2px -4px hsl(20, 100%, 9%),
             -10px 10px 3px -5px hsl(20, 100%, 8%),
             -12px 12px 2px -6px hsl(20, 100%, 7%),
             -14px 14px 2px -7px hsl(20, 100%, 6%),
             -15px 15px 2px -8px hsl(20, 100%, 5%), 
             -15px 15px 0 -8px hsla(20, 50%, 10%, 0.25); */
    letter-spacing: 3px;
    overflow: scroll;
}

.text-content>p {
    margin-bottom: 2rem;
    
}